@keyframes zoomInOut{
    0%,100%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
}
@keyframes spinOn{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes pageLoader{
    0%,100%{
        transform: translateX(-50px);
    }
    50%{
        transform: translateX(50px);
    }
}