
body{
    font-size: 16px;
    line-height: 1.5;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: var(--white-light);
}
.container{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.jcs{
    justify-content: space-between;
}
.alc{
    align-items: center;
}
img{
    vertical-align: middle;
    max-width: 100%;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
h1{
    font-weight: 700;
    color: var(--white);
}
h2{
    font-weight: 600;
    color: var(--white);
}
h3,
h4,
h5,
h6{
    font-weight: 500;
    color: var(--white);
}
p{
    font-size: 16px;
}
.min-vh-100{
    min-height: 100vh;
}
.btn{
    display: inline-block;
    padding: 10px 30px;
    border-radius: 30px;
    text-transform: capitalize;
    font-weight: 500;
    transition: var(--transition-all);
    font-size: 16px;
    cursor: pointer;
    font-family: inherit;
    color: var(--main-color);
    line-height: 1.5;
    user-select: none;
    border: none;
    background-color: transparent;
}
.btn-default{
    border: 2px solid var(--main-color);
}
.btn-default:hover{
    color: var(--white);
    background-color: var(--main-color);
}
.sec-padding{
    padding: 80px 0;
}
.section-title{
    width: 100%;
    padding: 0 15px;
    text-align: center;
    margin-bottom: 60px;
    h2{
        font-size: 35px;
        text-transform: capitalize;
    }
    h2::before{
        content: attr(data-title);
        display: block;
        font-size: 24px;
        color: var(--main-color);
        font-family: var(--cursive-font);
        font-weight: 400;
        text-transform: capitalize;
    }
}