.page-loder{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--dark);
    z-index: 999;
    transition: all 0.6s ease;
    .fade-out{
        opacity: 0;
    }
}
.page-loder::before{
    content: '';
    position: absolute;
    height: 4px;
    width: 100px;
    background-color: var(--main-color);
    left: calc(50% - 50px);
    top: calc(50% - 2px);
    animation: pageLoader 1s linear infinite;
}